<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
         <title>SBCM: {{ title }}</title>
    {% else %}
        <title>Sutton Bingham Course Manager</title>
    {% endif %}


    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/5243ed0bdc.js" crossorigin="anonymous"></script>
    {% block styling %}
    {% endblock %}
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-dark bg-primary justify-content-around shadow">
        <img href="{% url 'home' %}" src="../../static/assets/SBSC-logo.png" alt="SBSC Logo" height="70px">
        <a class="navbar-brand" href="{% url 'home' %}">Sutton Bingham Course Manager</a>
        {% if request.user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'logout' %}">Log out</a>
        {% else %}
            <div></div>
        {% endif %}
    </nav>

    <!-- Main Content -->
    {% block content %}
    {% endblock %}
</body>

<!-- Scripts -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
{% block script %}
{% endblock %}
</html>