{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card shadow" style="width: 100%;">
            <div class="card-header d-flex align-items-center">
                <div class="col-md-10">
                    <h3>{{ course.name }}</h3>
                    <h6>Start Date: {{ course.start_date }}</h6>
                </div>
                <div class="col-md-2 float-right">
                    {# Edit button #}
                    <a class="btn btn-warning btn-sm m-1" href="{% url 'course-update' pk=course.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {# Export button #}
                    <a class="btn btn-warning btn-sm m-1" href="{% url 'course-export' pk=course.id %}">
                        <i class="fa fa-print"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="width: 100%; margin: 0;">
                    <div class="card m-3 shadow-sm" style="width: 30.5%;padding: 0;">
                        <div class="card-header sticky-top d-flex justify-content-between align-items-center mb-3 bg-light">
                            <h5 class="card-title">DIs: </h5>
                            <a class="btn btn-info btn-sm" href="{% url 'course-availability-add-DIs' pk=course.id%}">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="card-body">
                            <table>
                                {% for DI in DI_availability %}
                                    <tr>
                                        <td>{{ DI.staff.name }}</td>
                                        <td>
                                            <form id="available-DI-delete-form-{{ DI.id }}" method="post" action="{% url 'course-availability-remove-DI' pk=DI.id course_id=course.id%}">
                                                {% csrf_token %}
                                            </form>
                                            <a class="btn btn-danger btn-sm m-1" onclick="document.getElementById('available-DI-delete-form-{{ DI.id }}').submit();">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="card m-3 shadow-sm" style="width: 30.5%;padding: 0;">
                        <div class="card-header sticky-top d-flex justify-content-between align-items-center mb-3 bg-light">
                            <h5 class="card-title">AIs: </h5>
                            <a class="btn btn-info btn-sm" href="{% url 'course-availability-add-AIs' pk=course.id%}">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="card-body">
                            <table>
                                {% for AI in AI_availability %}
                                    <tr>
                                        <td>{{ AI.staff.name }}</td>
                                        <td>
                                            <form id="available-AI-delete-form-{{ AI.id }}" method="post" action="{% url 'course-availability-remove-AI' pk=AI.id course_id=course.id%}">
                                                {% csrf_token %}
                                            </form>
                                            <a class="btn btn-danger btn-sm m-1" onclick="document.getElementById('available-AI-delete-form-{{ AI.id }}').submit();">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="card m-3 shadow-sm" style="width: 30.5%;padding: 0;">
                        <div class="card-header sticky-top d-flex justify-content-between align-items-center mb-3 bg-light">
                            <h5 class="card-title">Helpers: </h5>
                            <a class="btn btn-info btn-sm" href="{% url 'course-availability-add-helpers' pk=course.id%}">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="card-body">
                            <table>
                                {% for helper in helper_availability %}
                                    <tr>
                                        <td>{{ helper.staff.name }}</td>
                                        <td>
                                            <form id="available-helper-delete-form-{{ helper.id }}" method="post" action="{% url 'course-availability-remove-helper' pk=helper.id course_id=course.id%}">
                                                {% csrf_token %}
                                            </form>
                                            <a class="btn btn-danger btn-sm m-1" onclick="document.getElementById('available-helper-delete-form-{{ helper.id }}').submit();">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="card shadow-sm m-3" style="width: 100%; padding: 0;">
                        <div class="card-header d-flex align-items-center">
                            <div class="col-md-10">
                                <h3>Stages:</h3>
                            </div>
                            <div class="col-md-2 float-right">
                                <a type="button" class="btn btn-secondary float-right" href="{% url 'stage-create' course_id=course.id %}">Add Stage</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-columns m-3 bg_primary justify-content-center align-items-top">
                                {% for stage in stages %}
                                    <div class="card" style="width: 20%">
                                        <div class="card-header d-flex align-items-center">
                                            <div class="col-md-10">
                                                <h3>{{ stage.name }}</h3>
                                                <h6>No Kids: {{ stage.no_kids }}</h6>
                                            </div>
                                            <div class="col-md-2 float-right">
                                                {# Edit button #}
                                                <a class="btn btn-warning btn-sm m-1" href="{% url 'stage-update' course_id=course.id pk=stage.id %}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                {# Delete Button #}
                                                <form id="stage-delete-form-{{ stage.id }}" method="post" action="{% url 'stage-delete' pk=stage.id course_id=course.id%}">
                                                    {% csrf_token %}
                                                </form>
                                                <a class="btn btn-danger btn-sm m-1" onclick="document.getElementById('stage-delete-form-{{ stage.id }}').submit();">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table>
                                                <tr>
                                                    <th>Instructors:</th>
                                                    <th>
                                                        <a class="btn btn-info btn-sm" href="{% url 'stage-add-DIs' course_id=course.id stage_id=stage.id%}">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </th>
                                                </tr>
                                                {% for instructor in stage.dingyinstructoravailability_set.all %}
                                                    <tr>
                                                        <td>{{ instructor.staff.name }}</td>
                                                        <td>
                                                            <a class="btn btn-info btn-sm" href="{% url 'stage-return-DI' course_id=course.id stage_id=stage.id pk=instructor.id%}">
                                                                <i class="fa-solid fa-arrow-turn-up"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <table>
                                                <tr>
                                                    <th>Assistants:</th>
                                                    <th>
                                                        <a class="btn btn-info btn-sm" href="{% url 'stage-add-AIs' course_id=course.id stage_id=stage.id%}">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </th>
                                                </tr>
                                                {% for assistant in stage.assistantinstructoravailability_set.all %}
                                                    <tr>
                                                        <td>{{ assistant.staff.name }}</td>
                                                        <td>
                                                            <a class="btn btn-info btn-sm" href="{% url 'stage-return-AI' course_id=course.id stage_id=stage.id pk=assistant.id%}">
                                                                <i class="fa-solid fa-arrow-turn-up"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <table>
                                                <tr>
                                                    <th>Helpers:</th>
                                                    <th>
                                                        <a class="btn btn-info btn-sm" href="{% url 'stage-add-helpers' course_id=course.id stage_id=stage.id%}">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </th>
                                                </tr>
                                                {% for helper in stage.helperavailability_set.all %}
                                                    <tr>
                                                        <td>{{ helper.staff.name }}</td>
                                                        <td>
                                                            <a class="btn btn-info btn-sm" href="{% url 'stage-return-helper' course_id=course.id stage_id=stage.id pk=helper.id%}">
                                                                <i class="fa-solid fa-arrow-turn-up"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}